In [1]:
tu1 = ()
type(tu1)

tuple

All data type -- allowed

In [3]:
tup2 = (10,20,30,40)
tup2

(10, 20, 30, 40)

In [4]:
tup3 = (10.22,23.4,44.5)
tup3

(10.22, 23.4, 44.5)

In [5]:
tup4 = ('one','two','three','four')
tup4

('one', 'two', 'three', 'four')

In [6]:
tup5 = ('Asshi',23,3.3,(400,500),(150,90))
tup5

('Asshi', 23, 3.3, (400, 500), (150, 90))

In [7]:
tup6 = (100,'Ashi',[200,344],(78,433),{23,45},{1:"one",2:"three"})
tup6

(100, 'Ashi', [200, 344], (78, 433), {23, 45}, {1: 'one', 2: 'three'})

In [8]:
len(tup6)

6

In [9]:
tup2

(10, 20, 30, 40)

In [10]:
tup2[0]

10

In [11]:
tup4[0]

'one'

In [12]:
tup6

(100, 'Ashi', [200, 344], (78, 433), {23, 45}, {1: 'one', 2: 'three'})

In [15]:
tup6[2][0]

200

In [16]:
tup6[1][0]

'A'

In [18]:
#dictonary inside tuple
tup6[5][1] #indexing not allowed in dictionary so we can access value with the key[1]

'one'

In [19]:
tup6[2][0:] #list inside tuple ,using slicing in list

[200, 344]

In [20]:
tup6

(100, 'Ashi', [200, 344], (78, 433), {23, 45}, {1: 'one', 2: 'three'})

In [21]:
tup6[-1][2]

'three'

In [26]:
tup6[-4][::-1]

[344, 200]

In [28]:
mytuple = ('one','two','three','four','five','six','seven','eight','nine','ten')

In [29]:
mytuple[0:3]

('one', 'two', 'three')

In [30]:
mytuple[1:11:2]

('two', 'four', 'six', 'eight', 'ten')

In [32]:
mytuple[-1:0:-2]

('ten', 'eight', 'six', 'four', 'two')

In [33]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [34]:
mytuple[:-3]

('one', 'two', 'three', 'four', 'five', 'six', 'seven')

In [35]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [36]:
del mytuple[0] #tuple immutable we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [37]:
mytuple[0] = 100 #Tuple is imutable so we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [38]:
del mytuple #deleting entire tuple object is possible

In [39]:
mytuple

NameError: name 'mytuple' is not defined

In [40]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
for i in mytuple:
  print(i)

one
two
three
four
five
six
seven
eight

In [42]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [43]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [44]:
mytuple1.count('one')

3

In [46]:
mytuple1.count('two')

2

In [47]:
mytuple1.count('nine')

0

In [48]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [49]:
'one' in mytuple

True

In [50]:
'two' in mytuple

True

In [51]:
'seven' in mytuple

True

In [52]:
'eleven' in mytuple

False

In [59]:
if 'three' in mytuple:
  print('yes')
else:
  print('no')

yes

In [60]:
if 'eleven' in mytuple:
  print("Eleven is present")
else:
  print("Eleven is not present")

Eleven is not present

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [62]:
mytuple[0]

'one'

In [63]:
mytuple.index('one')

0

In [65]:
mytuple.index('seven')

6

In [69]:
mytuple3 = (23,77,87,43,21,12,54,45,65,56)
mytuple3

(23, 77, 87, 43, 21, 12, 54, 45, 65, 56)

In [70]:
sorted(mytuple3) #return new sorted list and doesn't change original tuple

[12, 21, 23, 43, 45, 54, 56, 65, 77, 87]

In [71]:
sorted(mytuple3,reverse = True)

[87, 77, 65, 56, 54, 45, 43, 23, 21, 12]

In [72]:
myset = {1,3,4,2,50}
myset

{1, 2, 3, 4, 50}

In [73]:
len(myset)

5

In [74]:
my_set = {1,2,3,4,4,2,5,5}
myset #Duplicates not allowed

{1, 2, 3, 4, 50}

In [75]:
myset1 = {1.23,3.44,54.3,5.0,6.5}
myset1

{1.23, 3.44, 5.0, 6.5, 54.3}

In [76]:
myset2 = {"Aashi","avi",'Ankita','Harshita'}
myset2

{'Aashi', 'Ankita', 'Harshita', 'avi'}

In [77]:
myset3={10,23,[23,34,54,5],"Aashi"}

TypeError: unhashable type: 'list'

In [78]:
myset4 = set() #Empty set
myset4

set()

In [80]:
myset4 = set(("one",'two','three','four','five'))
print(myset4)
print(type(myset4))

{'one', 'four', 'five', 'three', 'two'}
<class 'set'>

In [81]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [82]:
for i in myset:
  print(i)

one
four
seven
eight
six
five
three
two

In [83]:
for i in enumerate(myset):
  print(i)

(0, 'one')
(1, 'four')
(2, 'seven')
(3, 'eight')
(4, 'six')
(5, 'five')
(6, 'three')
(7, 'two')

In [84]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [85]:
'one' in myset

True

In [86]:
"Eleven" in myset

False

In [87]:
if 'three' in myset:
  print('Three is present in set')
else:
  print('Three is not present in set')

Three is present in set

In [88]:
if 'eleven' in myset:
  print('Eleven is present in myset')
else:
  print("Eleven is not present in myset")

Eleven is not present in myset

In [89]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [91]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [92]:
#Add multiple items in set using update function
myset.update(['ten','thirty','fourty'])
print(myset)

{'one', 'four', 'seven', 'eight', 'fourty', 'six', 'five', 'nine', 'thirty', 'ten', 'three', 'two'}

In [93]:
myset.remove('Eleven')
myset  #Eleven is not in the set so it will through error means we can't remove it because its not the member on myset

KeyError: 'Eleven'

In [94]:
myset.discard("Eleven")
myset        #Eleven is not in the item it will not through error-aimply print myset items

{'eight',
 'five',
 'four',
 'fourty',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'thirty',
 'three',
 'two'}

In [95]:
myset.clear() #it will delete the items in set
myset

set()

In [96]:
del myset #it will delete the set object
myset

NameError: name 'myset' is not defined

In [97]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [99]:
myset.pop() #Randomly remove element

'four'

In [100]:
myset

{'eight', 'five', 'seven', 'six', 'three', 'two'}

In [101]:
myset_1 = myset #create new refrence
myset_1

{'eight', 'five', 'seven', 'six', 'three', 'two'}

In [102]:
print(id(myset_1)) #both address will be same
print(id(myset))

139632460715776
139632460715776

In [107]:
my_sett = myset.copy() #it will create a copy of list
my_sett

{'eight', 'five', 'seven', 'six', 'three', 'two'}

In [108]:
print(id(my_sett))
print(id(myset))

139632460714208
139632460715776

In [111]:
myset.add('nine')
myset #Copy of the set won't be impacted due to changes made on the original

{'eight', 'five', 'nine', 'seven', 'six', 'three', 'two'}

In [113]:
myset_1   # myset_1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'nine', 'seven', 'six', 'three', 'two'}

In [115]:
#SET OPERATIONS
#Union
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {10,20,30,40}

a.union(b) #All element from both sets without duplicates
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [116]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [118]:
b.union(c)
b | c

{4, 5, 6, 7, 8, 10, 20, 30, 40}

In [119]:
a.union(c)

{1, 2, 3, 4, 5, 10, 20, 30, 40}

In [124]:
a

{1, 2, 3, 4, 5}

In [126]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [120]:
#Intersection --- It will give common items from both set
a.intersection(b)

{4, 5}

In [121]:
a & b

{4, 5}

In [122]:
a & c

set()

In [123]:
b & c

set()

In [130]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {10,20,30,40}

In [131]:
a.intersection_update(b)
a

{4, 5}

In [132]:
a

{4, 5}

In [143]:
a = {1,2,3,4,5}
b = {4,5,6,7,8,10,20}
c = {4,5,10,20,30,40}

In [137]:
a.difference(b) #set of elements that are only in A but not in B the duplicates will remove

{1, 2, 3}

In [138]:
a - b

{1, 2, 3}

In [139]:
b - a

{6, 7, 8}

In [144]:
b - c

{6, 7, 8}

In [145]:
b.difference_update(c)

In [146]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{6, 7, 8}
{4, 5, 20, 40, 10, 30}

In [157]:
#Symmetric Diffrence -- give both sets without duplicates
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {4,7,8,9,10,11}

In [149]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [158]:
a.symmetric_difference(c)

{1, 2, 3, 5, 7, 8, 9, 10, 11}

In [161]:
a.symmetric_difference_update(b)

In [162]:
print(a)

{1, 2, 3, 7, 6, 8}

In [163]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40}

b.issubset(a)

True

In [164]:
b.issuperset(a)

False

In [166]:
a.issuperset(b)

True

In [167]:
c.isdisjoint(a)

True

In [168]:
c.isdisjoint(b)

True

In [169]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [170]:
sum(a)

45

In [171]:
max(a)

9

In [172]:
min(a)

1

In [173]:
len(a)

9

In [176]:
s1 = list(enumerate(a))
print(type(s1))
print(s1)

<class 'list'>
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [178]:
d = sorted(a, reverse = True)
print(d)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [179]:
#Dictionary
mydict = {}
type(mydict)

dict

In [180]:
set_1 = {}
type(set_1)

dict

In [181]:
mydict = {'A':"one","B":'two','C':'three'} #dictionary with charachter keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [183]:
mydict={1:'one',2:'two',3:"three"} #dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [184]:
mydict = dict()
type(mydict)

dict

In [186]:
mydict1 = dict({"A":520,2:240,"Mango":65})
mydict1

{'A': 520, 2: 240, 'Mango': 65}

In [188]:
mydict1.keys()

dict_keys(['A', 2, 'Mango'])

In [190]:
mydict1.values()

dict_values([520, 240, 65])

In [192]:
mydict1.items()

dict_items([('A', 520), (2, 240), ('Mango', 65)])

In [193]:
mydict1 = {1:'one',2:"two",4:["mango","papaya","oranges"]}
mydict1  #list work on dictionary

{1: 'one', 2: 'two', 4: ['mango', 'papaya', 'oranges']}

In [195]:
mydict1 = {1:'one',2:"two",4:["mango","papaya","oranges"],6:(2,55,43,23,11,9,34)}
mydict1

{1: 'one',
 2: 'two',
 4: ['mango', 'papaya', 'oranges'],
 6: (2, 55, 43, 23, 11, 9, 34)}

In [196]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys) #create dictionary from a sequence of keys
mydict3

{'b': None, 'd': None, 'c': None, 'a': None}

In [202]:
keys = {1,2,3,4}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value) #create a dictionary from a sequence
mydict3

{1: [10, 20, 30], 2: [10, 20, 30], 3: [10, 20, 30], 4: [10, 20, 30]}

In [203]:
value.append(40)
mydict3

{1: [10, 20, 30, 40],
 2: [10, 20, 30, 40],
 3: [10, 20, 30, 40],
 4: [10, 20, 30, 40]}

In [204]:
#Accessing items
mydict = {1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [205]:
mydict[1]

'one'

In [206]:
mydict[2]

'two'

In [207]:
mydict[3]

'three'

In [208]:
mydict.get(1)

'one'

In [209]:
mydict ={'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [211]:
mydict['Name']

'Asif'

In [212]:
mydict.get('job')

'Analyst'

In [213]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [214]:
mydict1['DOB'] = 1993
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1993, 'Address': 'Delhi'}

In [217]:
dict1 = {'DOB' : 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [219]:
mydict1['Job'] = 'data analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'data analyst'}

In [224]:
mydict1.pop('Job')

'data analyst'

In [225]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [226]:
mydict1.popitem() #Remova random item

('Address', 'Delhi')

In [227]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [228]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [229]:
mydict1.clear()
mydict1

{}

In [231]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [ ]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

In [232]:
mydict1 = mydict #create new refrence

In [233]:
id(mydict1),id(mydict)

(139632458940096, 139632458940096)

In [234]:
mydict2 = mydict.copy() #create copy of dictionary
mydict2

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [235]:
id(mydict2)

139632458929024

In [236]:
mydict['Address'] = 'Mumbai'
mydict1

{'Name': 'Asif',
 'ID': 74123,
 'DOB': 1991,
 'job': 'Analyst',
 'Address': 'Mumbai'}

In [237]:
mydict2

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [238]:
#Loop through dictonary
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [240]:
for i in mydict :
  print(i,':',mydict[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [241]:
for i in mydict :
  print(mydict[i]) #Dictionary items

Asif
12345
1991
Hilsinki

In [242]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [243]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [244]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [245]:
'ID' in mydict1

True

In [246]:
'Address' in  mydict1

False

In [247]:

mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [248]:
all(mydict1)

True

In [249]:
any(mydict1)

True