In [1]:
if True:
  print("data Science")

data Science

In [2]:
if True:
  print('Data Science')
  print("Machine Learning")

Data Science
Machine Learning

In [3]:
if False:
  print("Data Science")
print('Good bye')

Good bye

In [4]:
if True:
  print("Data Science")
else:
  print("Good bye")

Data Science

In [5]:
x = 4
r = x % 2
if r == 0:
  print("Even Number")

Even Number

In [6]:
x = 5
r = x % 2
if r == 0:
  print("Even Number")

In [7]:
x = 9
r = x % 2
if r == 0:
  print("Even Number")
if r == 1:
  print("Odd Number")

Odd Number

In [8]:
x = 8
r = x % 2
if r == 0:
  print("Even Number")
if r == 1:
  print("odd Number")

Even Number

In [9]:
x = 5
r = x % 2
if r == 0:
  print("Even Number")
print("Odd Number")

Odd Number

In [11]:
x = 4
r = x % 2
if r == 0:
  print("Even Number")

print("Odd Number")

Even Number
Odd Number

In [12]:
x = 4
r = x % 2
if r == 0:
  print("Even Number")
else:
  print("Odd Number")

Even Number

In [14]:
x = 9
r = x % 2
if r == 0:
  print("Even Number")
else:
  print("Odd Number")

Odd Number

In [15]:
x = 17
r = x % 2
if r == 0:
  print("Even Number")
else:
  print("Odd Number")

Odd Number

In [16]:
x = 18
r = x % 2
if r == 0:
  print("Even Number")
else:
  print("Odd Number")

Even Number

In [17]:
x = 3
r = x % 2
if r == 0 :
  print("Even Number")
  if x > 5:
    print("Greater Number")
else:
  print("Odd Number")

Odd Number

In [18]:
x = 4
r = x % 2
if r == 0:
  print("Even Number")
  if x > 5:
    print("Greater Number")
else:
  print("Odd Number")

Even Number

In [19]:
x = 8
r = x % 2
if r == 0:
  print("Even Number")
  if x > 5:
    print("Greater Number")
else:
  print("Odd Number")

Even Number
Greater Number

In [21]:
x = 2
r = x % 2
if r == 0:
  print("Even Number")
  if x > 5:
    print("Greater Number")
  else:
    print("Not Greater")
else:
  print("Odd Number")

Even Number
Not Greater

In [22]:
i = 1
while i <= 10:
  print("Data Science")
  i = i + 1

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [23]:
i = 10
while i >= 1:
  print("Data Science")
  i = i - 1

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [24]:
i = 1
while i <= 5:
  print("data science")

  j = 1
  while j <= 4:
    print("Technology")
    j = j + 1
  i = i + 1
  print()

data science
Technology
Technology
Technology
Technology

data science
Technology
Technology
Technology
Technology

data science
Technology
Technology
Technology
Technology

data science
Technology
Technology
Technology
Technology

data science
Technology
Technology
Technology
Technology

In [26]:
i = 1
while i <= 5:
  print("Data Science",end = " ")

  j=1
  while j <= 4:
    print("Technology",end= " ")
    j = j + 1

  i = i + 1
  print()

Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology