In [1]:
t = ()
type(t)

tuple

In [2]:
tup1=(10,30,60)
tup1

(10, 30, 60)

In [9]:
tup2=(23.6,43.4,62.1)
tup2[0]

23.6

In [4]:
tup3=('Naruto','Akashi','Gojo','Sukona')
tup3

('Naruto', 'Akashi', 'Gojo', 'Sukona')

In [13]:
tup4 = ('Gojo',23,(50,100),(150,90)) #Nested Tuple
tup4[0]

'G'

In [14]:
tup4[0][0]

'G'

In [15]:
tup4[-1]

(150, 90)

In [5]:
tup6 = (100,'Sukona',23.4)
tup6

(100, 'Sukona', 23.4)

In [7]:
tup7 =('Akashi',23,[50,40],[20,30],(150 , 90),{'Jhon','David'})
len(tup7)

6

In [11]:
tup2=(23.6,43.4,62.1)
tup2[0]

23.6

In [18]:
mytuple = ('one','two','three','four','five')
mytuple[0:3] #n = n-1

('one', 'two', 'three')

In [20]:
mytuple[2:5]

('three', 'four', 'five')

In [21]:
mytuple[:3]

('one', 'two', 'three')

In [23]:
mytuple[:2]

('one', 'two')

In [25]:
mytuple[-3:]

('three', 'four', 'five')

In [27]:
mytuple[-2:]

('four', 'five')

In [28]:
mytuple[-1]

'five'

In [29]:
mytuple[:]

('one', 'two', 'three', 'four', 'five')

In [30]:
mytuple[0:4:2]

('one', 'three')

In [31]:
mytuple[0:5:2]

('one', 'three', 'five')

In [59]:
mytuple[::-2]

('five', 'three', 'one')

In [38]:
del mytuple[0] # Tuple are immutable that means we can't delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [39]:
mytuple[0] = 10
mytuple  #Tuple are immutable which means we can't change tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
#deleting entire tuple object is possible
del mytuple

In [40]:
#Loop Through Tuple
mytuple

('one', 'two', 'three', 'four', 'five')

In [41]:
for i in mytuple:
  print(i)

one
two
three
four
five

In [42]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

In [43]:
#Memberships
mytuple

('one', 'two', 'three', 'four', 'five')

In [44]:
'one' in mytuple #Check if one exist in the tuple

True

In [45]:
'ten' in mytuple

False

In [46]:
if 'three' in mytuple:
  print("three is present in the tuple")
else:
  print("Three is not present")

three is present in the tuple

In [47]:
if 'eleven' in mytuple:
  print("eleven is present in the tuple")
else:
  print("eleven is not present")

eleven is not present

In [48]:
#Index Position
mytuple.index('one')

0

In [50]:
mytuple.index('five')

4

In [52]:
mytuple1 = ('one','two','three','four','one','one','five','one')
mytuple1.index('one') #index of first element equal to 'one'

0

In [57]:
#Sorting
mytuple2 =(23,76,54,98,100,32,21,1245,11)
sorted(mytuple2)

[11, 21, 23, 32, 54, 76, 98, 100, 1245]

In [58]:
sorted(mytuple2,reverse=True)

[1245, 100, 98, 76, 54, 32, 23, 21, 11]